/********** Base styles **********/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}

h1 {
	margin-bottom: 15px;
	text-align: center;
	font-size: 1.75em;
}

h2 {
	font-size: 1.25em;
}

p {
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	color: black; 
	padding: 5%;
}

#chicken, #beef, #sushi {
	border: 1px solid black;
	padding: 5px 15px 5px 15px;
	float: right;
	position: relative;
	top: -1px;
	right: -1px;
	color: white;
}

#chicken {
	background: #97743a;
}

#beef {
	background: #49412c;
}

#sushi {
	background: #262216;
}

.section {
	border: 1px solid black;
	margin: 15px;
	background: #b0a18e;
}

/* Simple Responsive Framework. */
.row {
	width: 100%;
}

/********** Large devices only (desktop) **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33%;
  }
}

/********** Medium devices only (tablet) **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-6 {
    float: left;
  }
  .col-md-1 {
  	width: 100%
  }
  .col-md-6 {
  	width: 50%
  }
}

/********** Small devices only (mobile) **********/
@media (max-width: 767px) {
  .col-sm-1 {
    float: left;
    width: 100%;
  }